.password-game {
  .password-game-title {
  }
  .password-game-rules {
  }

  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .possibilities-input-box {
      width: calc(100% / 6);
      display: flex;
      justify-content: center;
      align-items: center;

      .possibilities-input {
        width: 10em;
      }
    }
  }

  .possibilities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em 10%;

    .possibilities-elt {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      border-radius: 10px;

      .possibility-text {
      }
    }
  }
}
