.string-sequence-game {
  flex: 1;

  .sequence-add-colors {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .sequence-add-color-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-inline: 20px;
      border-radius: 10%;
      height: 80px;
      width: 80px;
      font-size: 30px;
      cursor: pointer;
    }
  }
  .sequence-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 20px;

    .sequence-number {
      width: 15%;
      font-size: 17px;
    }

    .sequence-color {
      width: 80px;
      height: 80px;
      border-radius: 10%;
    }

    .to-do {
      flex: 1;
      padding: 1em;
      text-align: left;
      font-size: 17px;
    }
  }
}
